<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="persona" class="cl.jsaavedra.beans.Persona" name="personaBean2">
		<property name="pais" ref="pais"></property>
		<property name="id" value="1"></property>
		<property name="nombre" value="Jonathan"></property>
		<property name="apodo" value="Jona"></property>
	</bean>
	
	<alias name="persona" alias="personaBean"/>

	<bean id="pais" class="cl.jsaavedra.beans.Pais">
		<property name="nombre" value="Chile"></property>
		<property name="ciudad" ref="ciudad"></property>
	</bean>
	
	<bean id="ciudad" class="cl.jsaavedra.beans.Ciudad">
		<property name="nombre" value="Santiago"></property>
	</bean>
</beans>
